html, body {
    margin: 0;
    padding: 0;
    background-color: #5f805c;
    font-family: Calibri;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0px 20px 10px 20px;
}

.container #logo {

    width: 100px;
    height: 35px;
    border: 1px solid red;
    float: left;

}

.container nav {

    width: 400px;
    border: 1px solid red;
    float: right;
}

.clear-float{
    clear: both;
    height: 0px;
}

header {
    background-color: bisque;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

header nav ul {
    padding-left: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

header nav ul li a:hover {
    color: aqua;
}


footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

